//
// Scaffolding
// --------------------------------------------------
html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .family-monserat;
}

img { width: 100%;}

svg { display: block;}

cite { font-style: normal;}

.background-format {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.spacer-for-slider {
  height: 700px;

  @media (max-width: 991px) {
    height: 450px;
  }
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1410px;
}

@media (max-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
  }
}