//
// Variables
// --------------------------------------------------

//== Colors
// --------------------------------------------------

$white:             #FFFFFF;
$black:             #000000;

$accent-orange:     #FA6E12;
$black-secondary:   #09090A;


//== Font Family
// --------------------------------------------------


//== Media queries (responsive breakpoints)
// -------------------------------------------------------

$desktop:   		   '1200px';
$tablet-land:      '991px';
$tablet-port:    	 '768px';
$mobile-land:		 	 '480px';
$mobile-port:		 	 '360px';
$menu-collapse: 	 $tablet-land;
