extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Самолеты'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.airplanes-hero
		img(src="./img/airplanes-hero.png", alt="")
		.airplanes-hero__caption
			h1.airplanes-hero__title.family-roboto Самолёт VL3 Evolution
			button.btn.btn-main Подробнее

	section.airplanes-numbers
		.container.airplanes-numbers__container
			h3.airplanes-numbers__title.family-roboto БЫСТРО, БЕЗОПАСНО, ЭКОНОМИЧНО!
			.row
				.col-lg-4.mb-5
					.airplanes-numbers__block.number-block
						.number-block__title до 370 км / час.
						.number-block__text Скорость
				.col-lg-4.mb-5
					.airplanes-numbers__block.number-block
						.number-block__title 70 км / час.
						.number-block__text Скорость сваливания
				.col-lg-4.mb-5
					.airplanes-numbers__block.number-block
						.number-block__title  до 2000 км.
						.number-block__text Дальность полёта
	section.engines
		.container
			h3.engines-title.family-roboto.text-center ДОСТУПНО 3 ВИДА ДВИГАТЕЛЯ ROTAX:
			.row
				.col-lg-4.col-md-6
					.engines-card__header
						h5.engines-card__title.family-roboto Rotax912
					.engines-card
						.engines-card__body
							ul.engines-card__list
								li.engines-card__list-item Взлет и посадка 200 м
								li.engines-card__list-item Лучшая скорость набора высоты 396 м/мин
								li.engines-card__list-item Крейсерская скорость 280 км/ч ТАС
								li.engines-card__list-item Скорость сваливания 78 км/ч по приборам
								li.engines-card__list-item VNE 305 км/ч по приборам
							ul.engines-card__list
								li.engines-card__list-item Производитель Rotax
								li.engines-card__list-item Лошадиные силы 100 л.с.
								li.engines-card__list-item Модель 912
							ul.engines-card__list
								li.engines-card__list-item Пустой вес 310 кг
								li.engines-card__list-item Полезная нагрузка 290 кг
								li.engines-card__list-item Взлетно-посадочная полоса 600 кг
							ul.engines-card__list.pb-0
								li.engines-card__list-item Размах крыльев 8,44 м
								li.engines-card__list-item Длина 6,24 м
								li.engines-card__list-item Рост 2,05 м
								li.engines-card__list-item Ширина салона 115 см
								li.engines-card__list-item Топливные баки 120 л
				.col-lg-4.col-md-6
					.engines-card__header
						h5.engines-card__title.family-roboto Rotax914
					.engines-card
						.engines-card__body
							ul.engines-card__list
								li.engines-card__list-item Взлет и посадка 175 м.
								li.engines-card__list-item Лучшая скорость набора высоты 487 м / мин
								li.engines-card__list-item Крейсерская скорость 310 км / ч TAS
								li.engines-card__list-item Скорость сваливания 78 км / ч по приборам
								li.engines-card__list-item VNE 340 км / ч по приборам
							ul.engines-card__list
								li.engines-card__list-item Производитель Rotax
								li.engines-card__list-item Лошадиные силы 115л.с.
								li.engines-card__list-item Модель 914
							ul.engines-card__list
								li.engines-card__list-item Пустой вес 340 кг
								li.engines-card__list-item Полезная нагрузка 260 кг
								li.engines-card__list-item Взлетно-посадочная полоса 600 кг
							ul.engines-card__list.pb-0
								li.engines-card__list-item Размах крыльев 8,44 м
								li.engines-card__list-item Длина 6,24 м
								li.engines-card__list-item Рост 2,05 м
								li.engines-card__list-item Ширина салона 115 см
								li.engines-card__list-item Топливные баки 120 л
				.col-lg-4
					.engines-card__header
						h5.engines-card__title.family-roboto Rotax915
					.engines-card
						.engines-card__body
							ul.engines-card__list
								li.engines-card__list-item Взлет и посадка 175 м.
								li.engines-card__list-item Лучшая скорость набора высоты 609 м / мин
								li.engines-card__list-item Крейсерская скорость 370 км / ч TAS
								li.engines-card__list-item Скорость сваливания 78 км / ч по приборам
								li.engines-card__list-item VNE 340 км / ч по прибору
							ul.engines-card__list
								li.engines-card__list-item Производитель Rotax
								li.engines-card__list-item Модель 915
								li.engines-card__list-item Лошадиные силы 142 л.с.
							ul.engines-card__list
								li.engines-card__list-item Пустой вес 360 кг
								li.engines-card__list-item Полезная нагрузка 240 кг
								li.engines-card__list-item Взлетно-посадочная полоса 600 кг
							ul.engines-card__list.pb-0
								li.engines-card__list-item Размах крыльев 8,44 м
								li.engines-card__list-item Длина 6,24 м
								li.engines-card__list-item Рост 2,05 м
								li.engines-card__list-item Ширина салона 115 см
								li.engines-card__list-item Топливные баки 140 л
			.engines-footer
				h3.engines-title.family-roboto.text-center.mb-3 ИДЕАЛЬНОЕ СОЧЕТАНИЕ ЭКОНОМИИ И VL3
				p.text-center.mb-0 Экономичные двигатели Rotax, в сочетании с современной аэродинамикой, делают расход топлива таким же, как у вашего автомобиля, а не у обычного самолета. С самым мощным двигателем 915iS, вы можете сжигать от 8 до 9 галлонов в час. В зависимости от выбора двигателя, возможно меньшее потребление топлива.
	section.airplanes-about

		.container
			ul#tabs.nav.nav-tabs.airplanes-about__nav(role='tablist')
				li.nav-item
					a#tab-A.nav-link.active(href='#pane-A' data-toggle='tab' role='tab') Пропеллер
				li.nav-item
					a#tab-B.nav-link(href='#pane-B' data-toggle='tab' role='tab') Корпус
				li.nav-item
					a#tab-C.nav-link(href='#pane-C' data-toggle='tab' role='tab') Крыло
				li.nav-item
					a#tab-D.nav-link(href='#pane-D' data-toggle='tab' role='tab') Хвост
			#content.tab-content(role='tablist')
				#pane-A.card.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='tab-A')
					#heading-A.card-header(role='tab')
						h5.mb-0
							// Note: `data-parent` removed from here
							a(data-toggle='collapse' href='#collapse-A' aria-expanded='true' aria-controls='collapse-A')
								| Пропеллер
					// Note: New place of `data-parent`
					#collapse-A.collapse.show(data-parent='#content' role='tabpanel' aria-labelledby='heading-A')
						.container
							.row
								.col-lg-6.d-flex.align-items-center
									.tab-text Планер полностью изготовлен из композитного материала, который отличается удельной прочностью и превосходными усталостными характеристиками. Весь самолет может быть разобран на отдельные части, то есть обе половины поверхности крыла и хвостового оперения, включая стабилизаторы, могут быть отделены от фюзеляжа для облегчения транспортировки самолета.
								.col-lg-6.d-flex.align-items-center
									img(src="./img/airplanes-1.png", alt="")
				#pane-B.card.tab-pane.fade(role='tabpanel' aria-labelledby='tab-B')
					#heading-B.card-header(role='tab')
						h5.mb-0
							a.collapsed(data-toggle='collapse' href='#collapse-B' aria-expanded='false' aria-controls='collapse-B')
								| Корпус
					#collapse-B.collapse(data-parent='#content' role='tabpanel' aria-labelledby='heading-B')
						.container
							.row
								.col-lg-6.d-flex.align-items-center
									.tab-text Планер полностью изготовлен из композитного материала, который отличается удельной прочностью и превосходными усталостными характеристиками. Весь самолет может быть разобран на отдельные части, то есть обе половины поверхности крыла и хвостового оперения, включая стабилизаторы, могут быть отделены от фюзеляжа для облегчения транспортировки самолета.
								.col-lg-6.d-flex.align-items-center
									img(src="./img/airplanes-1.png", alt="")
				#pane-C.card.tab-pane.fade(role='tabpanel' aria-labelledby='tab-C')
					#heading-C.card-header(role='tab')
						h5.mb-0
							a.collapsed(data-toggle='collapse' href='#collapse-C' aria-expanded='false' aria-controls='collapse-C')
								| Крыло
					#collapse-C.collapse(role='tabpanel' data-parent='#content' aria-labelledby='heading-C')
						.container
							.row
								.col-lg-6.d-flex.align-items-center
									.tab-text Планер полностью изготовлен из композитного материала, который отличается удельной прочностью и превосходными усталостными характеристиками. Весь самолет может быть разобран на отдельные части, то есть обе половины поверхности крыла и хвостового оперения, включая стабилизаторы, могут быть отделены от фюзеляжа для облегчения транспортировки самолета.
								.col-lg-6.d-flex.align-items-center
									img(src="./img/airplanes-1.png", alt="")

				#pane-D.card.tab-pane.fade(role='tabpanel' aria-labelledby='tab-D')
					#heading-D.card-header(role='tab')
						h5.mb-0
							a.collapsed(data-toggle='collapse' href='#collapse-D' aria-expanded='false' aria-controls='collapse-D')
								| Крыло
					#collapse-D.collapse(role='tabpanel' data-parent='#content' aria-labelledby='heading-D')
						.container
							.row
								.col-lg-6.d-flex.align-items-center
									.tab-text Планер полностью изготовлен из композитного материала, который отличается удельной прочностью и превосходными усталостными характеристиками. Весь самолет может быть разобран на отдельные части, то есть обе половины поверхности крыла и хвостового оперения, включая стабилизаторы, могут быть отделены от фюзеляжа для облегчения транспортировки самолета.
								.col-lg-6.d-flex.align-items-center
									img(src="./img/airplanes-1.png", alt="")

