extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Home'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section(style="background-image: url(img/home/01.png)").background-format
    .py-5
      .py-5.my-5

    .container
      .row.justify-content-end
        .col-lg-7
          h1.text-end.text-uppercase UGAviation - официальный субдилер JMB Aircraft в Украине.

      .row.justify-content-end
        .col-lg-4
          div.text-end Эксклюзивное представительство VL3 Aircraft находится  под управлением UGAviation.

    .py-5.my-5
      .py-5.my-5

  section
    .slide(style="background-image: url(img/home/02.png)").background-format
      .d-flex.flex-column.justify-content-between.align-items-center
        .title Наша цель - развитие малой авиации и только лучшие самолёты на рынке Украины.

        .spacer-for-slider

        .footer.text-center
          .text VL3 evolution компании JMB Aircraft -  это первый самолёт, который мы привезли в Украину.  Быстрый, экономичный, безопасный и уникальный самолёт в своём классе.  Обладая крейсерской скоростью 370 км/час, исключительной маневренностью, дальностью полёта до 2000 км и скоростью сваливания 70 км/час - VL3 вполне подходит как для начинающих пилотов, так и для профессионалов своего дела.

          a(href="#").btn.btn-main Узнать больше о VL3





  div(style="height: 2000px")